html {
  font-family: sans-serif;
  height: 100vh;
  background: radial-gradient(ellipse at top left, #ffa8a8 15%, transparent 60%),
    radial-gradient(ellipse at bottom left, #8989d9 15%, transparent 60%),
    radial-gradient(ellipse at top right, #baba83 15%, transparent 60%),
    radial-gradient(ellipse at bottom right, #95c695 15%, transparent 60%);
}

.canvas {
  display: flex;
  align-items: center;
}

.pieces {
  width: 315px;
  height: 672px;
  background: #ffffff;
  border-spacing: 0;
}

.player {
  left: 4%;
  position: relative;
  width: 10%;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 100%;
  font-family: "Comic Sans MS";
  vertical-align: middle;
  border: 3px solid #323232;
  border-radius: 10px;
}

#piece0 {
  display: block;
}

#piece1 {
  display: none;
}

#piece2 {
  display: none;
}

#piece3 {
  display: none;
}

#app {
  padding-left: 10%;
}

.cell {
  background-color: #00000045;
  left: 100px;
  border: 1px solid #555;
  width: 25px;
  height: 25px;
  line-height: 30px;
  text-align: center;
}

.miniCell {
  left: 100px;
  border: 1px solid #e0daec;
  width: 20px;
  height: 20px;
  line-height: 30px;
  text-align: center;
}

.pieceTable {
  border-spacing: 0px;
}

.color0 {
  background-color: #ce5959;
}
.color0pale {
  background-color: #d59393;
}

.color1 {
  background-color: #6f6fe3;
}
.color1pale {
  background-color: #a3a3de;
}

.color2 {
  background-color: #f5e356;
}
.color2pale {
  background-color: #d9d989;
}

.color3 {
  background-color: #7bd77b;
}
.color3pale {
  background-color: #ade7ad;
}

kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
    0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  display: inline-block;
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}

.commands {
  margin-bottom: 30px;
  font-size: 30px;
  padding-left: 124px;
  margin-top: 0px;
}

/* #buttonTab {
  padding-top: 30px;
}

.Red {
  animation: color-change-Red 1s infinite;
}

@keyframes color-change-Red {
  0% {
    color: red;
  }
  50% {
    color: #000000;
  }
  100% {
    color: red;
  }
}

.Blue {
  animation: color-change-Blue 1s infinite;
}

@keyframes color-change-Blue {
  0% {
    color: blue;
  }
  50% {
    color: #000000;
  }
  100% {
    color: blue;
  }
}

.Yellow {
  animation: color-change-Yellow 1s infinite;
}

@keyframes color-change-Yellow {
  0% {
    color: #f5e356;
  }
  50% {
    color: #000000;
  }
  100% {
    color: #f5e356;
  }
}

.Green {
  animation: color-change-Green 1s infinite;
}

@keyframes color-change-Green {
  0% {
    color: green;
  }
  50% {
    color: #000000;
  }
  100% {
    color: green;
  }
} */
.wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#button {
  width: 150px;
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
  border-radius: 10px;
  left: 2vh;
  top: 35vh;
}

#button table {
  position: relative;
  z-index: 2;
}

#button.color0:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #c53333;
  transition: all 0.35s;
  border-radius: 7px;
}
#button.color1:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #0026ff;
  transition: all 0.35s;
  border-radius: 7px;
}

#button.color2:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #fffb00;
  transition: all 0.35s;
  border-radius: 7px;
}

#button.color3:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #00ff40;
  transition: all 0.35s;
  border-radius: 7px;
}

#button:hover {
  cursor: pointer;
}

#button.color0:hover {
  background-color: #ce5959;
  color: #000000;
}

#button.color1:hover {
  background-color: #6f6fe3;
  color: #000000;
}

#button.color2:hover {
  background-color: #dede52;
  color: #000000;
}

#button.color3:hover {
  background-color: #7bd77b;
  color: #000000;
}

#button:hover:after {
  width: 100%;
}
